.icon {
  width: 3vw;
  height: 3vw;
  display: inline-block;
  background-image: url('../images/icon128.png');
  background-size: 2vw;
  background-position: center;
  background-repeat: no-repeat;
}
